
  <%= render file: "/pages/navbar_no_ban" %>

<div class="container-flex" >
<div class="jumbotron" style="background: url(https://images.pexels.com/photos/37728/pexels-photo-37728.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed;height: 20rem; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">

  <h1>Next Event</h1>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  <br/>
  <p> Find your Next Event Anywhere ! <br/>
  Create your Next Event Everywhere !</p>
  <p> Get Started subscribe and always stay tuned for all the events and acces a worldwide community </p>


</div>
</div>

  <%= render file: "/pages/footer_no_ban" %>