    <%= render file: "/pages/navbar_no_ban" %>
<main class=" m-0 p-0">
  <div class="container-fluid m-0 p-0">

    <!--Google map-->
    <div id="map-container-google-2" class="z-depth-1-half map-container-2" style="height: 500px">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1P_WQVq0fKi90DkU9sWIslxwP2EuPr-q0" width="640" height="480"></iframe>
    <!--<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1EFpNl3i3jBOmlx6PXV9P7iIhoWF6TbJW" frameborder="0"
        style="border:0" allowfullscreen></iframe>-->
    </div>

  </div>
</main>

<!--Google Maps-->

    <%= render file: "/pages/footer_no_ban" %>
