


<br/>
<div class="container-fluid" >
<div class="card border-primary" style="max-width: 100%;">
  <div class="card-header">  <h6><a href="#" class="list-group-item list-group-item-action">Lons le saunier
  <span class="badge badge-primary badge-pill">14</h6></span></a></div>

  <div class="card-body">
    <p class="card-title">Secondary card title</p>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<br/>


<div class="card border-primary " style="max-width: 100%;">
  <div class="card-header">  <h6><a href="#" class="list-group-item list-group-item-action">Prefailles
  <span class="badge badge-primary badge-pill">4</h6></span></a></div>
  <div class="card-body">
    <p class="card-title">Secondary card title</p>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<br/>



<div class="card border-primary" style="max-width: 100%;">
  <div class="card-header">  <h6><a href="#" class="list-group-item list-group-item-action">Montpellier</>
  <span class="badge badge-primary badge-pill">32</h6></span></a></div>

  <div class="card-body">
    <p class="card-title">Secondary card title</p>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<br/>
</div>
