
<br/>
<div class="container-fluid" >
	<div class="card border-info mb-3">
		<h6 class="card-header bg-info text-white">Event</h6>
		<div class="card-body bg-dark">
			<h6 class="card-title">Participants of this Event</h6>
			<p class="card-text">
				<div class="card border-info mb-3" style="max-width: 30%;">
					<h6 class="card-header">User One</h6>
					<div class="card-body">
						<h6 class="card-title">Profile Information</h6>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
				<div class="card border-info mb-3" style="max-width: 30%;">
					<h6 class="card-header">User Two</h6>
					<div class="card-body">
						<h6 class="card-title">Profile Information</h6>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</p>
		</div>
	</div>
  	<div class="card border-info mb-3">
		<h6 class="card-header bg-info text-white">Event</h6>
		<div class="card-body bg-dark">
			<h6 class="card-title">Participants of this Event</h6>
			<p class="card-text">
				<div class="card border-info mb-3" style="max-width: 30%;">
					<h6 class="card-header">User One</h6>
					<div class="card-body">
						<h6 class="card-title">Profile Information</h6>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
				<div class="card border-info mb-3" style="max-width: 30%;">
					<h6 class="card-header">User Two</h6>
					<div class="card-body">
						<h6 class="card-title">Profile Information</h6>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</p>
		</div>
	</div>
</div>
