
<br/>
<div class="container-fluid" >
	<div class="card border-info mb-3">
		<h5 class="card-header bg-info text-white">Event</h5>
		<div class="card-body bg-dark">
			<h6 class="card-title">more Event details</h6>
			
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-info mb-3">
		<h5 class="card-header bg-info text-white">Event</h5>
		<div class="card-body bg-dark">
			<h6 class="card-title">more Event details</h6>
			
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-info mb-3">
		<h5 class="card-header bg-info text-white">Event</h5>
		<div class="card-body bg-dark">
			<h6 class="card-title">more Event details</h6>
			
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
  	<div class="card border-info mb-3">
		<h5 class="card-header bg-info text-white">Event</h5>
		<div class="card-body bg-dark">
			<h6 class="card-title">more Event details</h6>
			
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-info mb-3">
		<h5 class="card-header bg-info text-white">Event</h5>
		<div class="card-body bg-dark">
			<h6 class="card-title">more Event details</h6>
			
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-info mb-3">
		<h5 class="card-header bg-info text-white">Event</h5>
		<div class="card-body bg-dark">
			<h6 class="card-title">more Event details</h6>
			
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
  	<div class="card border-info mb-3">
		<h5 class="card-header bg-info text-white">Event</h5>
		<div class="card-body bg-dark">
			<h6 class="card-title">more Event details</h6>
			
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-info mb-3">
		<h5 class="card-header bg-info text-white">Event</h5>
		<div class="card-body bg-dark">
			<h6 class="card-title">more Event details</h6>
			
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-info mb-3">
		<h5 class="card-header bg-info text-white">Event</h5>
		<div class="card-body bg-dark">
			<h6 class="card-title">more Event details</h6>
			
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
</div>
