<div class="container-flex" >

<!-- Footer -->
<footer class="page-footer font-small pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">


    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-8 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-white">STAY CONNECTED</h5>
        <p>Subscribe to our Newsletter to stay tuned and follow all New Events</p>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-2">

        <!-- Links -->
        <h5 class="text-white">COMPANY</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">About Us</a>
          </li>
          <li>
            <a href="#!">Our Services</a>
          </li>
          <li>
            <a href="#!">Work with us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-2">

        <!-- Links -->
        <h5 class="text-white">CONTACTS</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Custommer service</a>
          </li>
          <li>
            <a href="#!">News</a>
          </li>
          <li>
            <a href="#!">Help</a>
          </li>
          <li>
            <a href="#!">FAQs</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://eventbritelikeapp.freeboxos.fr:3000/"> TheEventBriteLikeApp</a>
  </div>
  <!-- Copyright -->

</footer>
</div>
