<%= render file: "/pages/navbar_no_ban" %>
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h5>Edit your password.</h5>
                    <div class="px-2">
                        <form action="" class="justify-content-center">
                            <div class="form-group">
                                <label class="sr-only">Actual Password</label>
                                <input type="text" class="form-control" placeholder="my actual password">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Password</label>
                                <input type="text" class="form-control" placeholder="my new password">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%= render file: "/pages/footer_no_ban" %>