
<br/>
<div class="container-fluid " >

  <div class="card border-info mb-3">
  <h6 class="card-header ">Cyrielle</h6>
  <div class="card-body ">
    <h6 class="card-title">Info card title</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="card border-info mb-3" style="max-width: 100%;">
  <h6 class="card-header ">Mathieu</h6>
  <div class="card-body ">
    <h6 class="card-title">Info card title</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="card border-info mb-3" style="max-width: 100%;">
  <h6 class="card-header ">Alexandre</h6>
  <div class="card-body ">
    <h6 class="card-title">Info card title</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="card border-info mb-3" style="max-width: 100%;">
  <h6 class="card-header ">Radégonde</h6>
  <div class="card-body ">
    <h6 class="card-title">Info card title</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="card border-info mb-3" style="max-width: 100%;">
  <h6 class="card-header ">François-Xavier</h6>
  <div class="card-body ">
    <h6 class="card-title">Info card title</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="card border-info mb-3" style="max-width: 100%;">
  <h6 class="card-header ">Abdelkhader</h6>
  <div class="card-body ">
    <h6 class="card-title">Info card title</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="card border-info mb-3" style="max-width: 100%;">
  <h6 class="card-header ">Félix</h6>
  <div class="card-body ">
    <h6 class="card-title">Info card title</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>








</div>

